.home{
  display: flex;
  height: 80vh;
}

.home>section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  flex-direction: column;
  width: 40%;
}

.home p{
  text-align: center;
}
.kathai, .kavithai, .katturai {
  padding: 0 6rem;
}

.signup-page, .login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}