:root{
  --text-color: #000;
  --bg-color: #ddd;
  --hover-color: #f9f9f9;
  --theme-color: green;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,footer{
  text-align: center;
}

a{
  color: blue;
  text-decoration: none;
}

li:hover{
  background-color: var(--hover-color);
}

button {
  background-color: var(--theme-color);
}
button:hover, li:hover{
  cursor: pointer;
}