form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  width: 85vw;
  max-width: 500px;
  height: 2rem;
  padding: 0 10px;
  margin: .5rem 0 .8rem 0;
}
button {
  width: 40%;
  height: 2rem;
  margin-top: .8rem;
  vertical-align: middle;
  background-color: green;
  border: 1px solid darkgreen;
  border-radius: 1rem;
}